<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmc.dao.backend.SysRoleMapper">
	<resultMap id="BaseResultMap" type="com.mmc.model.vo.SysRoleVo">
		
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name"  jdbcType="VARCHAR"/>
		<result column="role_key" property="roleKey"  jdbcType="VARCHAR"/>
		<result column="description" property="description"  jdbcType="VARCHAR"/>
		<result column="status" property="status"  jdbcType="TINYINT"/>
		<result column="is_deleted" property="isDeleted"  jdbcType="TINYINT"/>
		<result column="create_by" property="createBy"  jdbcType="BIGINT"/>
		<result column="update_by" property="updateBy"  jdbcType="BIGINT"/>
		<result column="create_time" property="createTime"  jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime"  jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
	 id,    name,    role_key,    description,    status,    is_deleted,    create_by,    update_by,    create_time,     update_time  
	</sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id}  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role
    where id =#{id}  
  </delete>
  <insert id="insert" parameterType="com.mmc.model.dto.SysRoleDto" >
    insert into sys_role (  name,    role_key,    description,    status,    is_deleted,    create_by,    update_by,    create_time,     update_time )
    values (#{name},  #{roleKey},  #{description},  #{status},  #{isDeleted},  #{createBy},  #{updateBy},  #{createTime},    #{updateTime}  )
  </insert>
  <insert id="insertSelective" parameterType="com.mmc.model.dto.SysRoleDto" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="roleKey != null" >
        role_key,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name} ,
      </if>
      <if test="roleKey != null" >
        #{roleKey} ,
      </if>
      <if test="description != null" >
        #{description} ,
      </if>
      <if test="status != null" >
        #{status} ,
      </if>
      <if test="isDeleted != null" >
        #{isDeleted} ,
      </if>
      <if test="createBy != null" >
        #{createBy} ,
      </if>
      <if test="updateBy != null" >
        #{updateBy} ,
      </if>
      <if test="createTime != null" >
        #{createTime} ,
      </if>
      <if test="updateTime != null" >
        #{updateTime} ,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmc.model.dto.SysRoleDto" >
    update sys_role
    <set >
      <if test="name != null" >
        name = #{name} ,
      </if>
      <if test="roleKey != null" >
        role_key = #{roleKey} ,
      </if>
      <if test="description != null" >
        description = #{description} ,
      </if>
      <if test="status != null" >
        status = #{status} ,
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted} ,
      </if>
      <if test="createBy != null" >
        create_by = #{createBy} ,
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy} ,
      </if>
      <if test="createTime != null" >
        create_time = #{createTime} ,
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime} ,
      </if>
    </set>
    where id = #{id }  
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmc.model.dto.SysRoleDto" >
    update sys_role
    set 
        name = #{name} ,
        role_key = #{roleKey} ,
        description = #{description} ,
        status = #{status} ,
        is_deleted = #{isDeleted} ,
        create_by = #{createBy} ,
        update_by = #{updateBy} ,
        create_time = #{createTime} ,
        update_time = #{updateTime} 
    where id = #{id }  
  </update>
	
</mapper>